streamlit==1.35.0
openai==1.30.0
langchain==0.2.5
langchain-openai==0.1.8
langchain-community==0.2.5
faiss-cpu==1.8.0
biopython==1.83
requests==2.32.3
pandas==2.2.2
plotly==5.22.0
supabase==2.5.0
python-dotenv==1.0.1
httpx==0.27.0
ticktock==1.0.0
numpy==1.26.4
scikit-learn==1.5.0
tiktoken==0.7.0
langchain-text-splitters==0.2.1
